/* Felles stiler */

.container {
    max-width: 800px;
    margin: auto;
    padding: 0px, 12px;
}

.black {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.mork {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.gradient1 {
    background: linear-gradient(#28445D, gray);
}

.white {
    color: white;
}

.fullSection {
    height: 100vh;
    position: relative;
}
.fullSectionBottom {
  height: 100vh;
  position: relative;
  z-index: 0;
}

.basicSection {
    position: relative;
}

.vidMain {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* .vidBottom {
    /* position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
} */

#title {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 80%;
    top: 400px;
    left: 20%;
}

.section2 {
    height: 268px;
}

.byLine {
    position: absolute;
    color: #fff;
    text-align: left;
    background-color: #000000;
    min-width: 100%;
}

.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerBox{
  text-align: center;
  justify-content: center;
  align-items: center;
}


/* -    -   -   -   -   -   -   -   -   -   -   - */

/*class wrapper scrolltext og scrolltext2*/
.wrapper {
    display: none;
}

/* 1. Intro Keyframe
--------------------------------------- */
/*finnes ikke i html
#intro {
    position: fixed;
    top: 48%;
    left: 10%;
    width: 80%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}


.mainTitle {
    font-family: 'Bowlby One';
    font-size: 72px;
    letter-spacing: 4px;
    text-align: center;
}


.subTitle {
    font-size: 28px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 600;
} */

/* 2. Explosion/Images/Links Structure and Text
--------------------------------------- */

/*linje 47. i norge finnes det rundt..*/
#idMerking {
    position: fixed;
    top: 60%;
    width: 100%;
    height: 100%;
}
/*I 2017 hjalp dyrebesyttelsen...*/
#hjelpBergen {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
}

.scrollText {
    position: fixed;
}

.scrollText2 {
    position: fixed;
}

/* Avstander */

.pt {
    padding-top: 48px;
}

.pb {
    padding-bottom: 48px;
}

/* tekst: og design: */
.authors {
    padding: 50px;
    text-align: left;
}

.bottomSection {
    /* background-color: #FAEBD7; */
    background-color: #F0D9C7;
    padding-bottom: 0;
}

/*vil fjerne det store mellomrommet før spørsmålet*/
.bottomSection pb {
  padding-bottom: 0;
}

.midBottom {
  text-align: center;
}

.midBottom {
  padding: 0 30px 30px 30px;
}

/* Fonter */

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Les mer om..*/
.bottomSection p {
  text-align: center;
  margin-bottom: 0;
}

p1 {
    font-size: 30px;
}

p2 {
    font-size: 20px;
}

p3 {
    font-size: 84px;
}

p4 {
    font-size: 29px;
}

p5 {
    font-size: 30px;
    font-style: italic;
}

p6 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

p7 {
  font-size: 30px;
}

h1 {
    font-family: 'Bowlby One';
    font-size: 90px;
}

h2 {
    font-size: 60px;
    font-family: 'Bowlby One';
}

.big {
    font-size: 120px;
}

/* Bakgrunnsbilder */

/* første bilde*/
.img1 {
    background-image: url('../images/kattiBy.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* andre bilde - katt mot hånd*/
.img2 {
    background-image: url('../images/hender.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/*katt i vindu - forlatt i ferien*/
.img3 {
    background-image: url('../images/vindu.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
/*klasse med tonebildet og katt som blir tatt vare på*/
.img4 {
    max-width: 100%
}

/*class - mer om ID-merking*/
.faktaboks {
    width: inherit;
    background-color: white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/*teksten om ID-merking*/
#fakta {
    display: none;
    width: 80%;
}

/* #id - "mer om ID-merking"*/
#faktaboks {
    border-radius: 5px;
    width: 300px;
    color: grey;
    padding: 5px;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
}

/* klassen med alle svarene*/
.svarboks{
  display: flex;
  justify-content: center;
}

/* hvert svar*/
.svarbokser {
    background-color: #F8F3CB;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 15px 5px 15px 5px;
    margin: 15px;
    width: 150px;
    /* height: 70px; */
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

/* svaret som blir skal komme opp om ja, nei, jeg vil spre budskapet (funksjon ikke implementert)*/
#svar {
    display: none;
    width: 80%;
}

/* "Jeg vil spre budskapet"*/
.budskap {
  background-color: #F3E8DE;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 10px 5px 10px 5px;
  width: 340px;
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}



.videreLesing {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5%;
  left: 38%;
  z-index: 1;
}

/*internett- og facebooklogo i bunn*/
.ikoner {
  display: flex;
  flex-direction: column;
}

.ikoner img {
  padding: 10px;
}

.lenker {
  text-align: left;
  padding: 5px;
}

.lenker a {
  line-height: 27.8px;
}

.grey {
    color: grey;
}

.bGreen {
  background-color: green;
}

.bRed {
  background-color: red;
}


.formeringsBoks {
  min-height: 200px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  transition: box-shadow 0.4s;
  -o- transition: box-shadow 0.4s;
  -moz- transition: box-shadow 0.4s;
  -webkit- transition: box-shadow 0.4s;
  margin-bottom: 30px;
  padding-top: 20px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.3);
  align-items: center;

}

.buttonBox {
 display: flex;
 flex-direction: row;
  justify-content: center;
}


.button {
  margin-right: 10px;
  float: left;
  border: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 20px;
  width: 20%;
  align: center;
}


/*
.img4 {
    image: url('../images/Tone.jpg');
}*/

/* Små mobilenheter */

@media (min-width: 320px) {
    .basicSection {
        height: 800px;
      }
      /* Fonter */

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

      /* Les mer om..*/
      .bottomSection p {
        text-align: center;
        margin-bottom: 0;
      }

      p1 {
          font-size: 30px;
      }

      p2 {
          font-size: 20px;
      }

      p3 {
          font-size: 84px;
      }

      p4 {
          font-size: 29px;
      }

      p5 {
          font-size: 30px;
          font-style: italic;
      }

      p6 {
          text-align: center;
          font-size: 35px;
          font-weight: bold;
      }

      p7 {
        font-size: 30px;
      }

      h1 {
          font-family: 'Bowlby One';
          font-size: 90px;
      }

      h2 {
          font-size: 60px;
          font-family: 'Bowlby One';
      }

      .big {
          font-size: 120px;
      }

}

/* Nettbrett */

@media (min-width: 767px) {
    .basicSection {
        height: 1000px;
    }
}

/* Desktop */

@media (min-width: 991px) {}
