/* Felles stiler */

.container {
    max-width: 800px;
    margin: auto;
    padding: 0px, 12px;
}

.black {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.mork {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.gradient1 {
    background: linear-gradient(#28445D, gray);
}

.white {
    color: white;
}

.fullSection {
    height: 100vh;
}

.basicSection {
    position: relative;
}

.vidMain {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.vidBottom {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#title {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 80%;
    top: 600px;
    left: 20%;
}

.section2 {
    height: 268px;
}

.byLine {
    position: absolute;
    color: #fff;
    text-align: left;
    background-color: #000000;
    min-width: 100%;
}

.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerBox{
  text-align: center;
  justify-content: center;
  align-items: center;
}


/* -    -   -   -   -   -   -   -   -   -   -   - */

.wrapper {
    display: none;
}

/* 1. Intro Keyframe
--------------------------------------- */

#intro {
    position: fixed;
    top: 48%;
    left: 10%;
    width: 80%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.mainTitle {
    font-family: 'Bowlby One';
    font-size: 72px;
    letter-spacing: 4px;
    text-align: center;
}

.subTitle {
    font-size: 28px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 600;
}

/* 2. Explosion/Images/Links Structure and Text
--------------------------------------- */

#idMerking {
    position: fixed;
    top: 60%;
    width: 100%;
    height: 100%;
}

#hjelpBergen {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
}

.scrollText {
    position: fixed;
}

.scrollText2 {
    position: fixed;
}

/* Avstander */

.pt {
    padding-top: 48px;
}

.pb {
    padding-bottom: 48px;
}

.authors {
    padding: 50px;
    text-align: left;
}

.bottomSection {
    /* background-color: #FAEBD7; */
    background-color: #F0D9C7;
}

.midBottom {
  text-align: center;
}

/* Fonter */

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

p1 {
    font-size: 30px;
}

p2 {
    font-size: 20px;
}

p3 {
    font-size: 84px;
}

p4 {
    font-size: 29px;
}

p5 {
    font-size: 30px;
    font-style: italic;
}

p6 {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

h1 {
    font-family: 'Bowlby One';
    font-size: 90px;
}

h2 {
    font-size: 60px;
    font-family: 'Bowlby One';
}

.big {
    font-size: 120px;
}

/* Bakgrunnsbilder */

.img1 {
    background-image: url('../images/kattiBy.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url('../images/hender.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url('../images/vindu.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img4 {
    max-width: 100%
}

.faktaboks {
    width: inherit;
    background-color: white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}


#fakta {
    display: none;
    width: 80%;
}

#faktaboks {
    border-radius: 5px;
    width: 300px;
    color: grey;
    padding: 5px;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
}

/* .svar {
    width: inherit;
    background-color: grey;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
} */

.svar{
  display: flex;
  justify-content: center;
}

.svarbokser {
    background-color: #F8F3CB;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 15px;
    width: 70px;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

.budskap {
  background-color: #F3E8DE;
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 180px;
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}

.grey {
    color: grey;
}


.formeringsBoks {

  min-height: 200px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  transition: box-shadow 0.4s;
  -o- transition: box-shadow 0.4s;
  -moz- transition: box-shadow 0.4s;
  -webkit- transition: box-shadow 0.4s;
  margin-bottom: 30px;
  padding-top: 20px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.3);
  align-items: center;

}

.buttonBox {
 display: flex;
 flex-direction: row;
  justify-content: center;
}


.button {
  margin-right: 10px;
  float: left;
  border: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 20px;
  width: 20%;
  align: center;

}

/*
.img4 {
    image: url('../images/Tone.jpg');
}*/

/* Små mobilenheter */

@media (min-width: 320px) {
    .basicSection {
        height: 800px;
    }
}

/* Nettbrett */

@media (min-width: 767px) {
    .basicSection {
        height: 1000px;
    }
}

/* Desktop */

@media (min-width: 991px) {}
