/* Felles stiler */
.container {
    max-width: 800px;
    margin: auto;
    padding: 0px, 12px;
}

.black {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000000;
    opacity: 0.8;
}

.gradient1 {
    background: linear-gradient(#005078, gray);
}

.white {
  color: white;
}
/*
.vidMain {
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 100%;
    border: 1px solid yellow;
}
*/
/* .vidMain>video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
} */

.fullSection {
    height: 100vh;
}

.basicSection {
    position: relative;
}

.vidMain {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#title {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 80%;
    top: 600px;
    left: 20%;
}

.section2 {
  height: 268px;

}

.byLine {
    position: absolute;
    color: #fff;
    text-align: left;
    background-color: #000000;
    min-width: 100%;




}

.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Avstander */
.pt {
    padding-top: 48px;
}
.pb {
    padding-bottom: 48px;
}

.authors {
  padding: 50px;
  text-align: left;
}

/* Fonter */

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

p1 {
  font-size:30px;
}

p2 {
    font-size: 20px;
}

p3 {
    font-size: 84px;
}

p4 {
    font-size: 16px;
}

h1 {
    font-family: 'Bowlby One';
    font-size: 90px;
}
h2 {
    font-size: 48px;
}

.big {
  font-size: 84px;
}

/* Bakgrunnsbilder */
.img1 {
    background-image: url('../images/kattiBy.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url('../images/hender.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url('../images/vindu.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

/* Små mobilenheter */
@media (min-width: 320px) {

    .basicSection {
        height: 800px;
    }

}

/* Nettbrett */
@media (min-width: 767px) {

    .basicSection {
        height: 1000px;
    }

}

/* Desktop */
@media (min-width: 991px) {



}
